<%= link_to new_donation_path do %>
  <div class="thumbnail home-thumbnail">
    <%= image_tag "contribute.png", alt: "contribute" %>
    <h3><%= t('static_pages.home.contribute') %></h3>
    <p><%= t('static_pages.home.contribute_desc') %></p>
  </div>
<% end %>

