<% provide(:title,'About Us') %>
<h1>About Us</h1>
<h2>What OpenWwoof is not</h2>

<dl>
  <dl>Openwwoof is not CouchSurfing</dl>
  <dd>Both sides have to GIVE something. Volunteer gives his work, host gives
  food and accomodation. This is not mandatory is CS.</dd>
  <dl>Openwwoof is not Wwoof</dl>
  <dd>Openwwoof is completely free of charge, and is not restricted to organic
  farms</dd>
</dl>
