<% provide :title, t('.title') %>

<div class='static-page'>
  <h2><%= t '.title' %></h2>

  <h4>How it works?</h4>
  <p>NiPaNiPa is a common place where travelers willing to help (and save some
money) and hosts in need of help can get in touch. Getting started is very simple.</p>

  <h4>I'm a host</h4>
  <h5>Get Started</h5>
  <ol>
    <li>Sign-up and fill up your profile describing your project</li>
    <li>Reply to interested volunteers or contact them yourself</li>
    <li>Host helpers</li>
    <li>After the experience, you can rate your helpers</li>
    <li>You can also help us stay alive by making a donation</li>
  </ol>

  <h5>Advice</h5>
  <ol>
    <li>Please give as much detail as possible about your project on your profile
        so that volunteers have a clear idea of what to expect</li>
    <li>Specify any ``house rules'' (no meat, no alcohol, no smoking) beforehand
        so that volunteers are well aware of them</li>
    <li>Helpers are not volunteers per se, they are closer than workers because
        they received accomodation \& food in exchange for their work. Don't treat
        them like cheap/free labor force. We consider 20h a week to be a reasonable
        amount of work time in exchange for food and accomodation. However, that
        depends solely upon the agreement you reach with your helper.</li>
    <li>Treat helpers like family: help them get to know the local culture, give
        them tips and help them every way you can</li>
    <li>Don't charge helpers</li>
    <li>Rate your helpers and donate something to NiPaNiPa if the experience was
        satisfactory. Both actions will rise your karma and that will help you
        find better helpers</li>
  </ol>

  <h4>I'm a traveler</h4>
  <h5>Get Started</h5>
  <ol>
    <li>Sign-up and fill up your profile describing yourself and your skills</li>
    <li>Search for hosts and contact them</li>
    <li>Go live and work by your host</li>
    <li>After the experience, you can rate your host</li>
    <li>You can also help us stay alive by making a donation</li>
  </ol>

  <h5>Advice</h5>
  <ol>
    <li>In most cases, hosts will provide accommodation and food in exchange for
        a set amount of hours of work a week, but make sure that's stated clearly
        before leaving.</li>
    <li>Ask the host ANY questions that come to your mind before leaving so you
        can both match your expetatios beforehand.</li>
    <li>Try to contect at least 1 month in advance, specially if it's a remote
        place where internet access might be limited.</li>
    <li>Keep a positive attitude. Sometimes the accomodation, food or life style
        won't be as good as it is in your home country, but that's part of the
        experience: living like a local.</li>
    <li>NiPaNiPa charges nothing and barely survive. For now, it just provide a
        meeting point but it cannot arrange transport or visas.</li>
    <li>Please, take 5 minutes to rate your experience after it takes place. Also,
        consider contributing a few bucks to NiPaNiPa if you enjoyed your
        experience and want us to stay alive. Both of this actions will rise your
        karma and that will help you find better hosts.</li>
  </ol>
</div>

