- provide :title, t(".title")

.main-padded
  header
    h1 = t(".title")

  p NiPaNiPa is a common place where travelers willing to help (and save some
    money) and hosts in need of help can get in touch. Getting started is very
    simple.

  h4 I'm a host

  h5 Get Started
  ol
    li Sign-up and fill up your profile describing your project
    li Reply to interested volunteers or contact them yourself
    li Host helpers
    li After the experience, you can rate your helpers
    li You can also help us stay alive by making a donation

  h5 Advice
  ol
    li Please give as much detail as possible about your project on your profile
       so that volunteers have a clear idea of what to expect

    li Specify any "house rules" (no meat, no alcohol, no smoking) beforehand so
       that volunteers are well aware of them

    li Helpers are not volunteers per se, they are closer than workers because
       they received accommodation & food in exchange for their work. Don't
       treat them like cheap/free labor force. We consider 20h a week to be a
       reasonable amount of work time in exchange for food and accommodation.
       However, that depends solely upon the agreement you reach with your
       helper.

    li Treat helpers like family: help them get to know the local culture, give
       them tips and help them every way you can

    li Don't charge helpers

    li Rate your helpers and donate something to NiPaNiPa if the experience was
       satisfactory. Both actions will rise your karma and that will help you
       find better helpers

  h4 I'm a traveler

  h5 Get Started
  ol
    li Sign-up and fill up your profile describing yourself and your skills
    li Search for hosts and contact them
    li Go live and work by your host
    li After the experience, you can rate your host
    li You can also help us stay alive by making a donation

  h5 Advice
  ol
    li In most cases, hosts will provide accommodation and food in exchange for
       a set amount of hours of work a week, but make sure that's stated
       clearly before leaving.

    li Ask the host ANY questions that come to your mind before leaving so you
       can both match your expetatios beforehand.

    li Try to contect at least 1 month in advance, specially if it's a remote
       place where internet access might be limited.

    li Keep a positive attitude. Sometimes the accommodation, food or life style
       won't be as good as it is in your home country, but that's part of the
       experience: living like a local.

    li NiPaNiPa charges nothing and barely survive. For now, it just provide a
       meeting point but it cannot arrange transport or visas.

    li Please, take 5 minutes to rate your experience after it takes place.
       Also, consider contributing a few bucks to NiPaNiPa if you enjoyed your
       experience and want us to stay alive. Both of this actions will rise
       your karma and that will help you find better hosts.

  = image_tag "help.png", alt: "help"
