.home-explore
  = link_to users_path, class: "thmb-lnk" do
    .explore-thumbnail
      h1 = t("static_pages.home.explore")

      p = t("static_pages.home.explore_desc")

  .pictures-thumbnail.carousel.slide data-ride="carousel" data-interval="4000"
    .carousel-inner
      - Picture.random(8).each_with_index do |picture, i|
        .item class=("active" if i.zero?)
          = link_to image_tag(picture.image.url(:large), alt: picture.name),
                    picture.user
          .carousel-caption
            h3 = picture.name

    = link_to ".pictures-thumbnail", class: "left carousel-control",
                                     role: "button",
                                     "data-slide" => "prev" do
      span.glyphicon.glyphicon-chevron-left

    = link_to ".pictures-thumbnail", class: "right carousel-control",
                                     role: "button",
                                     "data-slide" => "next" do
      span.glyphicon.glyphicon-chevron-right

.home-signup
  = link_to host_registration_path, class: "thmb-lnk" do
    .host-thumbnail
      = image_tag "host.png", alt: "signup host"
      h1 = t("static_pages.home.host")

      p = t("static_pages.home.host_desc")

  = link_to volunteer_registration_path, class: "thmb-lnk" do
    .volunteer-thumbnail
      = image_tag "volunteer.png", alt: "signup volunteer"
      h1 = t("static_pages.home.volunteer")

      p = t("static_pages.home.volunteer_desc")
