<div class="row message-<%= from_starter?(message) ? 'left' : 'right' %>">
  <div class="col-md-1 message-from">
    <%= avatar_for message.from, style: :thumb_message %>
  </div>
  <div class="col-md-7 message-content">
    <div class="bubble-triangle">
    </div>
    <%= simple_format(message.body) %>
    <p class="message-date">
      <%= l message.created_at %>
    </p>
  </div>
</div>
