<div class="row message">
  <div class="span1">
    <%= avatar_for message.from %>
    </div>
  <div class="span7 message-content">
    <p>
    <%= message.body %>
    </p>
    <p class="message-date">
    <%= l message.created_at %>
    </p>
  </div>
</div>
