<% if conversations.empty? %>
  <%= render 'shared/empty', message: 'nomessages' %>
<% else %>
  <ul class="conversation-list col-md-12">
  <% for conversation in conversations %>
    <li id="conversation-preview-<%= conversation.id %>">
      <%= render('preview', conversation: conversation) %>
    </li>
  <% end %>
  </ul>
<% end %>
