li
  = render layout: "message",
           locals: { message: MessagePresenter.new(message, self) } do
    = simple_format(Rinku.auto_link(message.body))

    .message-date = l(message.created_at, format: :short)
