<% provide :title, t('.title') %>

<%= render 'shared/profile_header', user: current_user, page_id: @page_id %>

<div id="profile-content">
  <% if @conversations.empty? %>
    <%= render 'shared/empty', message: 'nomessages' %>
  <% else %>
    <ul class="conversation-list col-md-12">
    <% for conversation in @conversations %>
      <li id="conversation-preview-<%= conversation.id %>">
        <%= render('preview', conversation: conversation) %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
