<% provide :title, t('.title') %>

<div class="row">

  <%= render 'layouts/sidebar', user: current_user,
                                no_feedback_link: true %>

  <div class="span8">

    <div id="username">
      <h1 >
        <strong><%= t('.header') %></strong>
      </h1>
    </div>

    <ul class="conversation-list">
    <% for conversation in @conversations %>
      <li>
        <%= link_to user_conversation_path(current_user, conversation) do %>
          <%= render('preview', conversation: conversation) %>
        <% end %>
      </li>
    <% end %>
    </ul>

  </div>

</div>
