---
http_interactions:
- request:
    method: get
    uri: http://nominatim.openstreetmap.org/search?accept-language=en&addressdetails=1&format=json&polygon=1&q=Madrid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - search.php
      Tcn:
      - choice
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"place_id":"98035474","licence":"Data \u00a9 OpenStreetMap contributors,
        ODbL 1.0. http:\/\/www.openstreetmap.org\/copyright","osm_type":"relation","osm_id":"348984","boundingbox":["39.8845825195312","41.1657409667969","-4.57900619506836","-3.05332207679749"],"lat":"40.52516075","lon":"-3.77181653956588","display_name":"Madrid,
        Spain, European Union","class":"boundary","type":"administrative","icon":"http:\/\/nominatim.openstreetmap.org\/images\/mapicons\/poi_boundary_administrative.p.20.png","address":{"county":"Madrid","state":"Madrid","country":"Spain","country_code":"es","continent":"European
        Union"}},{"place_id":"98043619","licence":"Data \u00a9 OpenStreetMap contributors,
        ODbL 1.0. http:\/\/www.openstreetmap.org\/copyright","osm_type":"relation","osm_id":"346068","boundingbox":["40.3121871948242","40.6437301635742","-3.88895392417908","-3.51791620254517"],"polygonpoints":[["-3.8889539","40.5708516"],["-3.8886506","40.5717253"],["-3.8883959","40.5722256"],["-3.8857617","40.5741126"],["-3.8855949","40.57449"],["-3.8853724","40.5748875"],["-3.885049","40.5757135"],["-3.8847101","40.5765576"],["-3.8844087","40.5773387"],["-3.8837329","40.5790986"],["-3.8837761","40.5803111"],["-3.8839719","40.5805926"],["-3.884133","40.5810028"],["-3.8841719","40.5812808"],["-3.8840108","40.5815534"],["-3.8837232","40.5820441"],["-3.8834272","40.5825336"],["-3.8838073","40.5833789"][...]
