<div class="control-group span10">
  <label class="control-label">
    <%= t('.title') %>
  </label>
  <div class="controls">
     <%= f.simple_fields_for :pictures do |picture| %>
       <% unless picture.object.avatar %>
         <% if picture.object.new_record? %>
           <div class="new-picture">
             <%= picture.file_field :picture %>
           </div>
         <% else %>
           <div class="current-picture">
             <%= image_tag picture.object.picture.url(:thumb) %>
           </div>
         <% end %>
       <% end %>
     <% end %>
  </div>
</div>
