<table class='calendar'>
  <tr>
  <% User::AVAILABILITY.each do |m| %>
    <th><%= l(Date.strptime(m, '%b'), format: :month) %></th>
  <% end %>
  </tr>
  <tr>
  <% User::AVAILABILITY.each do |m| %>
    <td>
      <% if availability.include?(m) %>
        &#10004;
      <% else %>
        &#10008;
      <% end %>
    </td>
  <% end %>
  </tr>
</table>
