table.calendar
  tr
    - 12.times do |i|
      th = t("date.abbr_month_names")[i + 1]
  tr
    - 12.times do |i|
      td
        - if user.available_in?(i + 1)
          | ✔
        - else
          | ✘
