<div class='form-group col-md-12'>
  <label class='control-label'>
    <%= t('.title') %>
  </label>
  <div class='controls'>
    <div id='language_skills'>
      <%= f.simple_fields_for :language_skills, wrapper: false do |builder| %>
        <%= render 'language_skill_fields', f: builder %>
      <% end %>
    </div>
    <div class='links' id='language-add'>
      <%= link_to_add_association t('.add_language'), f, :language_skills %>
    </div>
  </div>
</div>
