- regions_url = country_regions_path(":country_id")

= f.input :country,
    collection: Country.options,
    selected: f.object.country.id,
    input_html: { data: { "regions-url" => regions_url } },
    include_blank: false,
    wrapper: :half_width

= f.input :region_id,
    collection: f.object.country.regions,
    selected: f.object.region.id,
    include_blank: false,
    wrapper: :half_width
