= f.input :country_id,
    collection: Country.options,
    input_html: { \
      data: { \
        "regions-url" => country_regions_path(":country_id") \
      } \
    },
    include_blank: false,
    wrapper: :half_width

= f.input :region_id,
    collection: f.object.country.regions,
    selected: f.object.region.id,
    include_blank: false,
    wrapper: :half_width
