<div class="control-group span10">
  <label class="control-label">
    <%= t('.title') %>
  </label>
  <div class="controls">
     <%= f.simple_fields_for :pictures do |picture| %>
       <% if picture.object.avatar %>
         <% if picture.object.new_record? %>
           <%= picture.file_field :picture %>
         <% else %>
           <%= image_tag picture.object.picture.url(:thumb) %>
         <% end %>
      <% end %>
     <% end %>
  </div>
</div>
