.form-group.col-md-12
  label.control-label
    = t(".title_#{user.type.underscore}")

  .work-type-list
    - 3.times do |i|
      .checkbox-list
        = f.collection_check_boxes :work_type_ids,
                                   WorkType.limit(5).offset(5*i).to_a,
                                   :id,
                                   :name,
                                   item_wrapper_class: 'checkbox' do |b|
          = b.check_box + t("work_types.#{b.text}")
