- provide :title, t(".title")

.main-padded
  header
    h1 = t(".title")
    h2 = t(".subtitle")

  = simple_form_for current_user, url: :delete_account, method: :delete do |f|
    = f.button :submit, t(".title"), class: "primary-buttom btn-danger"
