<% provide :title, t('.title') %>

<div class="row form-wrapper">

  <div class="form-title">
    <h1>
      <%= image_tag "#{@user.type.underscore}.png" %>
      <%= t('.header',
            type: t("activerecord.models.#{@user.type.underscore}")).humanize %>
    </h1>
  </div>

  <div class="signup-form col-md-12">
    <%= render 'form', user: @user %>
  </div>

</div>
