<% provide :title, t('.title') %>

<div class="row">

  <%= render 'layouts/sidebar', user: current_user,
                                no_feedback_link: true %>

  <div class="span8">

      <h1 id="username" class="span8">
        <strong><%= t('.header') %></strong>
      </h1>

      <%= render 'form', user: @user %>

  </div>

</div>
