<% provide :title, t('.title') %>

<div class="row profile-wrapper">

  <%= render 'shared/profile_header', user: current_user, page_id: @page_id %>

  <div class="signup-form span12">
    <%= render 'form', user: @user %>
  </div>

</div>
