<% provide :title, t('.title') %>

<h1 class="signup-title">
  <%= image_tag "#{@user.type.underscore}.png" %>
  <%= t('.header',
        type: t("activerecord.models.#{@user.type.underscore}")).titleize %>
</h1>

<div class="signup-form">
  <%= render 'form', user: @user %>
</div>
