= provide :title, t(".title")

.main-unpadded
  aside.sidebar-users
    = render "filters"

  .list-users
    ul.user-thumbnails
      - @users.each do |user|
        = render partial: "user",
                 object: ProfileSummaryPresenter.new(user, self)

    = paginate @users
