<% provide :title, t('.title') %>

<div class="row signup-wrapper">

  <div class="signup-title">
    <h1>
      <%= image_tag "#{@user.type.underscore}.png" %>
      <%= t('.header', type: t("activerecord.models.#{@user.type}")).humanize %>
    </h1>
  </div>

  <div class="signup-form span12">
    <%= render 'form', user: @user %>
  </div>
</div>
