<% provide :title, t('.title') %>

<h1 class='signup-title'>
  <%= image_tag "#{resource.type.underscore}.png" %>
  <%= t('.header',
        type: t("activerecord.models.#{resource.type.underscore}")).titleize %>
</h1>

<div class='signup-form'>
  <%= render 'form' %>
</div>
