<% provide :title, t('.title') %>

<div class="signup-form offset2 span8">

  <div class="signin-tip">
    <%= t '.already_registered' %>
    <%= link_to t('sessions.signin'), new_user_session_path %>
  </div>

  <h1><%= t '.header', type: @user.type %></h1>

  <%= render 'form', user: @user %>

</div>
