<% provide(:title,'Sign up') %>
<h1>Sign up</h1>

<div class="row">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
</div>
