<% provide :title, t('.title') %>

<div class="row form-wrapper">

  <div class="form-title">
    <h1>
      <%= image_tag "#{resource.type.underscore}.png" %>
      <%= t('.header',
            type: t("activerecord.models.#{resource.type.underscore}")).titleize %>
    </h1>
  </div>

  <div class="signup-form col-md-12">
    <%= render 'form' %>
  </div>
</div>
