- provide :title, @user.name

= render layout: "shared/profile", locals: { user: @user } do
  .col-md-6
    .box
      h3 = t("users.show.description")

      p = simple_format(Rinku.auto_link(@user.description))

    .box
      h3 = t("users.show.skills_#{@user.type.underscore}")

      p = simple_format(@user.skills)

  .col-md-6
    .box
      h3 = t("users.show.availability")

      = render "calendar", user: @user

    - if @user.type == "Host"
      .box
        h3 = t("users.show.accommodation")

        p = simple_format(@user.accommodation)

    .box
      h3 = link_to t("users.show.pictures"), user_pictures_path(@user)

      = render "pictures", pictures: @user.pictures

    .box
      h3 = link_to feedback_count(@feedback_pairs), user_feedbacks_path(@user)

      = render partial: "feedbacks/feedbacks", object: @feedback_pairs
