- provide :title, t(".title")

.main-padded
  header
    h1 = t(".title")

  .form-thumbnail
    = simple_form_for resource, url: user_password_path,
                                html: { method: :put },
                                wrapper: :vertical_form do |f|
      = devise_error_messages!

      = f.hidden_field :reset_password_token

      = f.input :password, autofocus: true
      = f.input :password_confirmation, autofocus: true

      = f.button :submit, t(".change_pwd"), class: "primary-button"
