- provide :title, t(".forgotten?")

.main-padded
  header
    h1 = t(".forgotten?")

  .form-thumbnail
    = simple_form_for resource, url: user_password_path,
                                html: { method: :post },
                                wrapper: :vertical_form do |f|

      = f.full_error :email

      = f.input :email, autofocus: true

      = f.button :submit, t(".send_instructions"), class: "primary-button"
