<% provide :title, t('.forgotten?') %>

<div class="offset4 span4">
  <div class="signin-thumbnail">
    <h5><%= t '.forgotten?' %></h5>
    <%= simple_form_for(resource, as: resource_name,
                                 url: password_path(resource_name),
                                 html: { method: :post }) do |f| %>
      <%= f.input_field :email, autofocus: true %>
      <%= f.button :submit, t('.send_instructions'), class: "signup-button" %>
    <% end %>
  </div>
</div>
