<div class="quickinfo" id="<%= name %>info">
  <div class="label_info">
    <%= image_tag "#{name}.png" %>
  </div>
  <div class="content_info">
    <span><strong><%= t(".#{name}") %>:</strong></span>
    <%= content %>
  </div>
</div>
