.user-picture
  = avatar_link_for @user, style: :medium

.user-info
  .user-name
    h3
      strong= user.name

  .user-icons
    .user-status
      = render 'shared/badge', name: 'karma', content: user.karma
      = render 'shared/badge', name: 'location', content: user_location(user)
      = render 'shared/badge', name: 'last_login',
                               content: i18n_timeago(user.current_sign_in_at)
      = render 'shared/badge', name: 'member_since',
                               content: i18n_timeago(user.created_at)

    .user-knowledge
      = render 'shared/badge', name: 'categories',
                               content: user_categories(user)
      = render 'shared/badge', name: 'languages', content: user_languages(user)

  .user-tabs
    ul.nav.nav-tabs
      = tab_builder(user, page_id)

      - unless given_feedback || user == current_user
        .leave-feedback-link
          = link_to new_user_feedback_path(user) do
            .label_info
              = image_tag 'feedback.png'
            .content_info
              = t('.new_feedback')

      - unless user == current_user
        .send-message-link
          = link_to conversation_path(id: user.id) do
            .label_info
              = image_tag 'envelope.png'
            .content_info
              = t('.new_conversation')
