<div class='flattr'>
  <%= t('.label') %>
  <%= link_to '', 'http://nipanipa.com', class: 'FlattrButton',
                                         title: 'Flattr',
                                         'data-flattr-uid' => 'nipanipa' %>
</div>
