= simple_form_for [current_user, @picture],
                  html: { class: 'form-horizontal', multipart: true } do |f|
  = f.input :name

  = f.input :image
  .control-group
    .controls
      = f.button :submit, model: t('activerecord.models.picture')
