- if pictures.empty?
  = render 'shared/empty', message: 'nopictures'

- else
  ul.picture-thumbnails
    - pictures.each do |p|
      li.col-md-6
        .picture-thumbnail
          - if can? :manage, p
            .actions
              - delete_lnk = link_to t('.delete'),
                                     user_picture_path(current_user, p),
                                     method: :delete
              - edit_lnk = link_to t('.edit'),
                                   edit_user_picture_path(current_user, p),
                                   name: "image-#{p.id}"

              | #{delete_lnk} | #{edit_lnk}

          = link_to image_tag(p.image.url(:large)), p.image.url
          .caption
            h5= p.name
