<% provide :title, t('.title') %>

<div class="row profile-wrapper">

  <%= render 'shared/profile_header', user: @user,
                                      page_id: @page_id,
                                      given_feedback: @given_feedback %>

  <div class="span12 profile-content">
      <div class="row new-picture">
        <% if can? :manage, @user %>
          <p>
            <%= link_to t('.new_picture'), new_user_picture_path(current_user) %>
          </p>
        <% end %>
      </div>

      <div class="row index-pictures">
        <%= render 'pictures', pictures: @pictures, user: @user %>
      </div>
  </div>

</div>
