<% provide :title, t('.title') %>

<div class="profile-header-<%= @user.type.underscore %>">
  <%= render 'shared/profile_header', user: @user, page_id: @page_id,
                                      given_feedback: @given_feedback %>
</div>

<div class='profile-content'>
  <% if can? :manage, @user %>
    <p class='new-picture'>
      <%= link_to t('.new_picture'), new_user_picture_path(current_user) %>
    </p>
  <% end %>

  <%= render 'pictures', pictures: @pictures, user: @user %>
</div>
