<% provide :title, t('.title') %>

<div class="span12 main-titled">
  <div class="row main-titled-wrapper">

    <div class="offset2 span8 title">
      <h3><%= t('.title') %></h3>
    </div>

    <div class="offset2 span8 subtitle">
      <em><%= t('.subtitle') %></em>
    </div>

    <div class="offset2 span8 picture-form">
       <%= render partial: 'form', object: @pictures %>
    </div>
  </div>
</div>
