<ol class="feedbacks">
  <% feedbacks.each do |feedback_pair| %>
    <li class="feedback-pair">
      <% if feedback_pair[0] %>
       <%= render partial: 'feedbacks/feedback',
                  object: feedback_pair[0],
                  locals: { type: 'received' } %>
     <% end %>
     <% if feedback_pair[1] %>
       <%= render partial: 'feedbacks/feedback',
                  object: feedback_pair[1],
                  locals: { type: 'sent' } %>
     <% end %>
   </li>
  <% end %>
</ol>
