<% provide :title, t('.title') %>

<div class="row">

  <div class="span8">

    <div id="username">
      <h1>
        <strong><%= t('.header', username: @feedback.recipient.name) %></strong>
      </h1>
    </div>

    <%= render 'form', user: @user, feedback: @feedback %>

  </div>

</div>
