- provide :title, t('.title', username: @user.name)

.col-md-12
  .row.main-titled
    .col-md-offset-2.col-md-8.subtitle
      em= t('.subtitle')
    .col-md-offset-2.col-md-8.feedback-form
      = render 'form', user: @user, feedback: @feedback
