<% provide :title, t('.title') %>

<div class="span12 main-titled">
  <div class="row main-titled-wrapper">

    <div class="offset2 span8 subtitle">
      <em><%= t('.subtitle') %></em>
    </div>

    <div class="offset2 span8 feedback-form">
      <%= render 'form', user: @user, feedback: @feedback %>
    </div>

  </div>
</div>
