<% provide :title, t('.title') %>

<%= render 'shared/profile_header', user: @user,
                                    page_id: @page_id,
                                    given_feedback: @given_feedback %>

<div class="row profile-content">
  <div class="span6">
   <%= render partial: 'feedbacks/feedbacks', object: @feedback_pairs %>
  </div>
</div>
