<% provide :title, t('.title') %>

<div class="col-md-12">
  <div class="row main-titled">

    <div class="offset2 col-md-8 subtitle">
      <em><%= t('.subtitle') %></em>
    </div>

    <div class="offset2 col-md-8 feedback-form">
      <%= render 'form', user: @user, feedback: @feedback %>
    </div>

  </div>
</div>
