// Place all the styles related to the Conversations controller

textarea#body {
  height: 150px;
}

.conversation-form {
  textarea {
    height: 150px;
  }
  .form-actions {
    background-color: $white;
    border: none;
  }
}

.back {
  text-align: right;
  line-height: 24px;
}

#chat-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.conversation-list {
  margin: 0 0 20px 0;
  width: 900px;
  list-style: none;
  list-style-type: none;
  li {
    line-height: 70px;
    border-bottom: solid 1px $grayVeryLight;
    div.conversation-preview {
      padding: 10px 0px;
      $deleteCrossSize: 15px;
      a {
        text-decoration: none;
        color: $gray;
        .conversation-date {
          width: 170px;
          text-align: right;
          padding-right: 15px;
        }
        div[id^="delete-"] {
          background: url('delete.png') no-repeat;
          display: block;
          margin: 27px 0;
          width: $deleteCrossSize;
          height: $deleteCrossSize;
          float: right;
        }
      }
    }
    &:first-child {
      border-top: solid 1px $grayVeryLight;
    }
  }
}

div.message {
  margin-bottom: 20px;
  .message-from {
    @include box_sizing;
    @include border_radius;
    border: 1px solid $grayVeryLight;
  }
  .message-content {
    background: lighten(#568a7e, 50%);
    position: relative;
    .bubble-triangle {
      background: url('bubble-triangle.png') no-repeat;
      position: absolute;
      width: 12px;
      height: 10px;
      top: 10px;
      left: -12px;
    }
    border: 1px solid $grayVeryLight;
    padding: 10px;
    @include border_radius;
    @include box_sizing;
    .message-date {
      text-align: right;
      margin-bottom: 0;
      font-size: 0.8em;
    }
  }
}
