@import "bootstrap";

/* mixins, variables, etc. */
$grayBackground: #ebebdf;
$grayMediumLight: #eaeaea;
$grayVeryLight: #ccc;
$graySuperLight: #f5f5f5;
$greenLogo: #568a7e;
$grayExplore: #e1ddc4;
$greenHost: #9ab6aa;
$redVolunteer: #f1c5c2;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin linear_gradient {
  background-image: -o-linear-gradient(to_bottom, white, #E6E6E6);
  background-image: -webkit-linear-gradient(to_bottom, white, #E6E6E6);
  background-image: linear-gradient(to_bottom, white, #E6E6E6);
}

@mixin border_radius {
  -moz-boder-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

@mixin box_shadow($x: 2px) {
  -moz-box-shadow: $x $x $x $grayVeryLight;
  -webkit-box-shadow: $x $x $x $grayVeryLight;
  box-shadow: $x $x $x $grayVeryLight;
}


/* universal */

form, fieldset, legend, label, input{ margin: 0; padding: 0;}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  background-color: $grayBackground;
  width: 100%;
  height: 100%;
}

section { overflow: auto; }

a {
  color: darken($greenLogo, 10%);
}

.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
  .navbar-inner {
    background-color: $grayBackground;
    background-image: none;
    font-size: 14px;
    border: none;
    @include box_shadow(0px);
    .nav {
      padding-top: 47px;
    }
  }
}

textarea { resize: vertical; }

.thumbnails {
  a {
    color: #333;
    text-decoration: none;
  }
  margin: 0px;
  margin-left: -20px;
}

.thumbnail {
  text-align: center;
  a {
    display: block;
  }
}

.clearfix {
  overflow: auto;
  width: 100%;
}


/* override bootstrap */
abbr[title] {
  cursor: auto;
  border-bottom: none;
}
label {
  cursor: auto;
}


/* typography */

h1, h2, h3, h4, h5, h6 { line-height: 1; }

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.1em;
  letter-spacing: 0px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: bold;
}

h3 {
  margin: 0px;
  font-size: 2em;
  text-align: left;
}

h4 {
  margin: 0px;
  font-size: 1.7em;
  text-align: left;
}

p { font-size: 1.1em; line-height: 1.7em; }

.home-action {
  padding: 25px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

/* overriding bootstrap sass */
.dropdown-menu {
  min-width: 50px;
  padding: 5px 10px;
  li {
    a {
      padding: 0;
    }
  }
}

header {
  background-color: green;
}


/* main content */
.main {
  margin-left: 0px;
  text-align: left;
  background: $white;
}

.main-titled {
  margin-top: 40px;
  margin-bottom: 20px;
  .title {
    margin-bottom: 20px;
  }
  .subtitle {
    font-size: 14px;
    margin-bottom: 25px;
  }
}


/* footer */

footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small { float: left; }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      border-right: 1px solid $grayLight;
      padding-left: 5px;
      padding-right: 5px;
      line-height: 12px;
    }
    li:last-child {
      border-right: none;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


/* forms */

label, input[type="text"], input[type="password"], input[type="email"],
textarea, select, .checkbox {
  font-size: 12px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
  width: 100%;
  height: auto;
  @include box_sizing;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.manual-error {
  color: rgb(185, 74, 72);
}
