// Place all the styles related to the Feedbacks controller

.feedbacks {
  list-style: none;
  margin: 0 auto;
  max-width: 600px;
  padding: 5px;

  li {
    border: 1px solid $gray-very-light;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;

    .feedback {
      padding: 10px;
      position: relative;

      &:nth-child(2) {
        border-top: 1px solid $gray-very-light;
        padding-top: 20px;
      }

      .time-ago {
        color: $gray-light;
        font-size: .8em;
      }
    }

    .received {
      .score-icon {
        float: left;
        margin-left: 15px;
      }

      .info {
        float: left;
        text-align: left;
      }

      .thumb-avatar {
        margin-left: 10px;
      }
    }

    .sent {
      .score-icon {
        float: right;
        margin-right: 15px;
      }

      .info {
        float: right;
        text-align: right;
      }

      .thumb-avatar {
        margin-right: 10px;
      }
    }
  }
}

.content {
  clear: both;
  display: block;
}

.timestamp {
  color: $green-dark;
}
