// Place all the styles related to the Feedbacks controller

.feedback-form {
  textarea {
    width: 400px;
    height: 150px;
  }
  #feedback_donation_attributes_amount {
    width: 40px;
  }
}

.feedbacks {
  margin: 0 auto;
  list-style: none;
  padding: 5px;
  max-width: 600px;
  li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid $grayVeryLight;
    border-radius: 5px;
    .feedback {
      position: relative;
      padding: 10px;
      &:nth-child(2) {
        border-top: 1px solid $grayVeryLight;
        padding-top: 20px;
      }
      .time-ago {
        color: gray;
        font-size: 0.8em;
      }
    }
    .received {
      .score-icon {
        margin-left: 15px;
        float: left;
      }
      .info {
        float: left;
        text-align: left;
      }
      .thumb-avatar {
        margin-left: 10px;
      }
    }
    .sent {
      .score-icon {
        margin-right: 15px;
        float: right;
      }
      .info {
        float: right;
        text-align: right;
      }
      .thumb-avatar {
        margin-right: 10px;
      }
    }
  }
}

.content {
  display: block;
  clear: both;
}

.timestamp {
  color: $darkGreen;
}
