//
// Form styles
//
form,
fieldset,
legend,
label,
input {
  margin: 0;
  padding: 0;
}

label,
textarea,
select,
.checkbox {
  font-size: 12px;
}

.manual-error {
  color: rgb(185, 74, 72);
}

input {
  background-color: $white;
  border: 1px solid $gray-very-light;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .075);
  transition: border linear .2s, box-shadow linear .2s;
}

textarea { resize: vertical; }

label { cursor: auto; }
