//
// Form styles
//
form,
fieldset,
legend,
label,
input {
  margin: 0;
  padding: 0;
}

label,
input[type=text],
input[type=password],
input[type=email],
textarea,
select,
.checkbox {
  font-size: 12px;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.manual-error {
  color: rgb(185, 74, 72);
}

input {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .075);
  background-color: white;
  border: 1px solid #ccc;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea { resize: vertical; }

abbr[title] { border-bottom: 0; cursor: auto; }

label { cursor: auto; }
