//
// Responsive layout, pushed to bottom footer
//
* {
  margin: 0;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  background-color: $gray-background;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 120%;
  height: 100%;
  line-height: 20px;
  min-width: 240px;
  width: 100%;
}

.wrapper,
main {
  height: 100%;
  margin: auto;
  max-width: 970px;
  width: 100%;
}

.inner {
  @include clearfix();

  main {
    background-color: $white;
    margin-top: 20px;
  }
}

.home {
  background: image-url('fondo.jpg') no-repeat center center fixed;
  background-size: cover;
}

.home,
.inner {
  height: auto;
  margin: 0 auto;
}

// footer
$footer-height: 80px;

@mixin footer-lg {
  height: $footer-height;

  nav {
    height: $footer-height;
  }

  .social-links {
    float: right;
  }

  .footer-links {
    float: left;
  }

  ul > li {
    float: left;
  }
}

@media(min-width: 773px) {
  .home,
  .inner {
    min-height: calc(100% - 80px);
  }

  footer {
    @include footer-lg;
  }
}

@mixin footer-sm {
  height: $footer-height * 2;

  nav {
    height: $footer-height;
    width: 100%;

    ul > li {
      display: inline-block;
      text-align: center;
    }
  }
}

@media(max-width: 772px) {
  .home,
  .inner {
    min-height: calc(100% - 160px);
  }

  footer {
    @include footer-sm;
  }
}

footer {
  background-color: $gray-background;
  color: $green-dark;
  transform-style: preserve-3d;

  a {
    color: $gray;

    &:hover {
      color: $gray-very-dark;
    }
  }

  ul {
    @extend %vertical-align;
    @include clearfix();

    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;

    li {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.footer-links > ul > li {
  border-right: 1px solid $green-dark;
  line-height: 12px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-right: 0;
    padding-right: 0;
  }
}

.social-links > ul > li:hover {
  opacity: .8;
}

%no-gutter-row,
.no-gutter-row {
  @include make-row;

  margin-left: 0;
  margin-right: 0;

  > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
}
