// Place all the styles related to the Pictures controller

.picture-form {
  width: 448px;
}

.picture-thumbnails {
  margin: 0;
  list-style: none;
  padding-left: 0px;
}

.picture-thumbnail {
  @extend .img-thumbnail;
  a {
    display: inline;
    img {
      width: 100%;
    }
  }
}

.new-picture {
  font-size: 14px;
  padding-left: 20px;
}
