// Place all the styles related to the Pictures controller

.picture-form {
  width: 448px;
}

.picture-thumbnails {
  margin: 0;
  list-style: none;
}

.picture-thumbnail {
  @extend .img-thumbnail;
  margin: 0px 20px 20px 20px;
  a {
    display: inline;
  }
}

.new-picture {
  font-size: 14px;
  padding-left: 20px;
}
