// Place all the styles related to the Pictures controller

.picture-form {
  width: 448px;
}

.picture-thumbnails {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.picture-thumbnail {
  @extend %img-thumbnail;

  a {
    display: inline;

    img {
      width: 100%;
    }
  }
}

.new-picture {
  font-size: .9em;
  padding-left: 15px;
}
