// Place all the styles related to the Pictures controller

.picture-form {
  width: 448px;
}

.picture-thumbnail {
  @extend .thumbnail;
  margin: 0px 20px 20px 20px;
  a {
    display: inline;
  }
}

.new-picture {
  font-size: 14px;
  margin: 0;
  padding-left: 20px;
}

.index-pictures {
  margin: 0;
}

