// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signin-thumbnail {
  @extend .img-thumbnail;
  width: 240px;
  margin: auto;
  margin-top: 20px;
  padding: 15px 30px;
  text-align: left;
  .header {
    img {
      display: inline;
      margin: 0px 5px;
    }
    text-align: center;
  }
  .forgot-your-pwd {
    margin-top: 10px;
  }
}

.signin-dropdown {
  @extend .img-thumbnail;
  border: none;
  padding: 10px;
  text-align: left;
  min-width: 250px;
  a {
    display: block;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .signup-button {
    width: 100%;
  }
  font-size: 12px;
  input {
    font-size: 12px;
  }
}
