// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise-page {
  margin: 0 auto;
  text-align: center;
}

.form-thumbnail {
  @extend %img-thumbnail;
  background-color: $white;
  margin: 25px auto;
  max-width: 400px;
  padding: 15px 30px;
  text-align: left;

  @media(max-width: 772px) {
    width: 95%;
  }

  @media(min-width: 773px) {
    width: 70%;
  }
}

.forgot-your-pwd {
  margin-top: 10px;
}

.signin-dropdown {
  @extend %img-thumbnail;
  border: 0;
  font-size: 12px;
  min-width: 250px;
  padding: 10px;
  text-align: left;

  a {
    display: block;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .signin-button {
    width: 100%;
  }

  input {
    font-size: 12px;
  }
}
