// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signin-wrapper {
  background: $white;
  @include border_radius;
  .signin-form {
    width: 250px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    .header {
      img {
        display: inline;
        margin: 0px 5px;
      }
      text-align: center;
    }
    .forgot-your-pwd {
      margin-top: 10px;
    }
  }
}


