// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signin-row {
  @extend .row;

  text-align: center;
  margin: 0 auto;
}

.form-thumbnail {
  @extend .img-thumbnail;
  max-width: 400px;

  @media(max-width: 772px) {
    width: 95%;
  }

  @media(min-width: 773px) {
    width: 70%;
  }

  background-color: white;
  margin: 25px auto;
  padding: 15px 30px;
  text-align: left;
}

.forgot-your-pwd {
  margin-top: 10px;
}

.signin-dropdown {
  @extend .img-thumbnail;
  border: 0;
  padding: 10px;
  text-align: left;
  min-width: 250px;
  a {
    display: block;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .signin-button {
    width: 100%;
  }
  font-size: 12px;
  input {
    font-size: 12px;
  }
}
