// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover {
  background: url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-thumbnails {
  @extend .thumbnails;
  a {
    color: #333;
    text-decoration: none;
  }
  margin: 0 0 0 -20px;
}

.explore-thumbnail {
  @extend .thumbnail;
  padding: 20px 290px;
  background: $grayExplore;
  &:hover {
    background: darken($grayExplore, 10%);
  }
}

.host-thumbnail {
  @extend .thumbnail;
  padding: 20px 50px;
  background: $greenHost;
  &:hover {
    background: darken($greenHost, 10%);
  }
}

.volunteer-thumbnail {
  @extend .thumbnail;
  padding: 20px 50px;
  background: $redVolunteer;
  &:hover {
    background: darken($redVolunteer, 10%);
  }
}

.contribute-thumbnail {
  @extend .thumbnail;
  background: $grayBackground;
  padding: 30px 30px 15px 30px;
  text-align: left;
  width: 350px;
  height: 240px;
  a {
    color: #0088cc;
    display: inline;
  }
  h3 {
    margin-bottom: 15px;
    text-align: center;
  }
  #donation_amount {
    width: 60px;
  }
  form input {
    margin-bottom: 10px;
  }
  .flattr {
    line-height: 62px;
    font-size: 13px;
  }
  .flattr-btn {
    float: right;
  }
}

.static-page {
  h5 {
    margin-top: 15px;
  }
  h4 {
    margin-top: 20px;
  }
  ol {
  list-style-type: lower-alpha;
  }
  padding: 50px;
}
