// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover {
  background: image-url('fondo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nipa-container {
  @extend .container;
  width: 100%;
  max-width: 980px;
  padding-bottom: 20px;
}

a.thmb-lnk {
  color: #333;
  text-decoration: none;
}

.home-explore {
  width: 100%;
  margin-bottom: 15px;
  max-height: 252px;
}

.home-host {
  overflow: auto;
  width: 49.5%;
  float: left;
  max-height: 252px;
}

.home-volunteer {
  overflow: auto;
  width: 49.5%;
  float: right;
  max-height: 252px;
}


$thumbnail-padding: 50px;
$external-padding: 15px;

.explore-thumbnail {
  @extend .img-thumbnail;
  width: 100%;
  padding: $external-padding;
  border-radius: 0px;
  background: $grayExplore;
  &:hover {
    background: darken($grayExplore, 10%);
  }
  .info {
    width: 50%;
    padding: 0px $thumbnail-padding - $external-padding;
    float: left;
    h2 {
      margin-top: 90px;
    }
  }
  .rslides {
    width: 50%;
    float: right;
    list-style: none;
    position: relative;
    img {
      width: 100%;
    }
  }
}

.host-thumbnail {
  @extend .img-thumbnail;
  width: 100%;
  padding: 20px $thumbnail-padding;
  border-radius: 0px;
  background: $greenHost;
  &:hover {
    background: darken($greenHost, 10%);
  }
}

.volunteer-thumbnail {
  @extend .img-thumbnail;
  width: 100%;
  padding: 20px $thumbnail-padding;
  border-radius: 0px;
  background: $redVolunteer;
  &:hover {
    background: darken($redVolunteer, 10%);
  }
}

.contribute-thumbnail {
  @extend .img-thumbnail;
  background: $grayBackground;
  padding: 30px;
  text-align: left;
  min-height: 310px;
  a {
    color: #0088cc;
    display: inline;
  }
  h3 {
    margin-bottom: 15px;
    text-align: center;
  }
  #donation_amount {
    width: 60px;
  }
  .flattr {
    line-height: 62px;
    font-size: 13px;
  }
  .FlattrButton {
    float: right;
  }
}

.static-page {
  h5 {
    margin-top: 15px;
  }
  h4 {
    margin-top: 20px;
  }
  ol {
  list-style-type: lower-alpha;
  }
  padding: 50px;
}
