// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.thmb-lnk {
  color: #333;
  text-decoration: none;
}

@media(max-width: 772px) {
  .home-signup,
  .home-explore {
    display: block;
  }

  .host-thumbnail,
  .volunteer-thumbnail {
    width: 100%;
  }

  .explore-thumbnail,
  .pictures-thumbnail {
    width: 98%;
  }
}

@media(min-width: 773px) {
  .explore-thumbnail,
  .pictures-thumbnail,
  .host-thumbnail,
  .volunteer-thumbnail {
    max-width: 500px;
  }

  .explore-thumbnail,
  .host-thumbnail {
    float: left;
  }

  .pictures-thumbnail,
  .volunteer-thumbnail {
    float: right;
  }

  .explore-thumbnail,
  .pictures-thumbnail {
    width: 50%;
  }

  .host-thumbnail,
  .volunteer-thumbnail {
    width: 49.5%;
  }
}

.host-thumbnail,
.volunteer-thumbnail,
.explore-thumbnail,
.pictures-thumbnail {
  @extend .img-thumbnail;
  border-radius: 0px;
}

.host-thumbnail {
  background-color: $greenHost;
  &:hover {
    background-color: darken($greenHost, 10%);
  }
}

.volunteer-thumbnail {
  background-color: $redVolunteer;
  &:hover {
    background-color: darken($redVolunteer, 10%);
  }
}

.host-thumbnail,
.volunteer-thumbnail {
  padding: 15px;
}

.home-signup,
.home-explore {
  @extend .img-thumbnail;
  border-radius: 0px;
  width: 98%;
  margin: 0 auto;
}

.home-explore {
  background-color: $grayExplore;
  &:hover {
    background-color: darken($grayExplore, 10%);
  }
}

.home-signup {
  background: none;
}

.explore-thumbnail {
  background: none;
  padding: 15px 50px;
  h2 {
    margin-top: 90px;
  }
}

.pictures-thumbnail {
  @extend .img-thumbnail;
  padding: 0;
  list-style: none;
  position: relative;
  margin-bottom: 0;
  border-width: 0px;
  li {
    width: 100%;
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
}

.contribute-thumbnail {
  @extend .img-thumbnail;
  background-color: $grayBackground;
  padding: 30px;
  text-align: left;
  min-height: 310px;
  a {
    color: #0088cc;
    display: inline;
  }
  h3 {
    margin-bottom: 15px;
    text-align: center;
  }
  #donation_amount {
    width: 60px;
  }
  .flattr {
    line-height: 62px;
    font-size: 13px;
  }
  .FlattrButton {
    float: right;
  }
}

.static-page {
  h5 {
    margin-top: 15px;
  }
  h4 {
    margin-top: 20px;
  }
  ol {
  list-style-type: lower-alpha;
  }
  padding: 50px;
}
