// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-thumbnail {
  padding: 30px 30px 15px 30px;
  height: 281px;
  a {
    display: block;
  }
}

.home-half-thumbnail {
  padding: 15px 30px;
  height: 122px;
  a {
    display: block;
  }
  img {
    float: right;
    margin: 0 0 0 20px;
  }
}
