// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover {
  background: image-url('fondo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nipa-container {
  @extend .container;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

.inner-container {
  @extend .container;
  margin-left: 100px;
  margin-right: 100px;
}

a.thmb-lnk {
  color: #333;
  text-decoration: none;
}

.home-explore {
  width: 100%;
  margin-bottom:1%;
}

.home-host {
  overflow: auto;
  width: 49.5%;
  float: left;
  margin-right:1%;
}

.home-volunteer {
  overflow: auto;
  width: 49.5%;
  float: right;
}

.explore-container {
  width: 100%;
  border-radius: 0px;
  background: $grayExplore;
  &:hover {
    background: darken($grayExplore, 10%);
  }
  .explore-thumbnail {
	 @extend .img-thumbnail;
	 @extend .explore-container;
	 height:252px;
  	 width:50%; 
	 padding:0px 60px;
	 h2{
	 margin-top:100px;
	 }
  	}
  .explore-images {
  	 width:50%;
     float:right;
	 #slider1 {
		list-style:none;
		position:relative;
		left:-20px;
		top:10px;
		img {
			width:100%;
			}
		}
  	}  	
}

.host-thumbnail {
  @extend .img-thumbnail;
  width: 100%;
  padding: 20px 50px;
  border-radius: 0px;
  background: $greenHost;
  &:hover {
    background: darken($greenHost, 10%);
  }
}

.volunteer-thumbnail {
  @extend .img-thumbnail;
  width: 100%;
  padding: 20px 50px;
  border-radius: 0px;
  background: $redVolunteer;
  &:hover {
    background: darken($redVolunteer, 10%);
  }
}

.contribute-thumbnail {
  @extend .img-thumbnail;
  background: $grayBackground;
  padding: 30px 30px 15px 30px;
  text-align: left;
  a {
    color: #0088cc;
    display: inline;
  }
  h3 {
    margin-bottom: 15px;
    text-align: center;
  }
  #donation_amount {
    width: 60px;
  }
  .flattr {
    line-height: 62px;
    font-size: 13px;
  }
  .flattr-btn {
    float: right;
  }
}

.static-page {
  h5 {
    margin-top: 15px;
  }
  h4 {
    margin-top: 20px;
  }
  ol {
  list-style-type: lower-alpha;
  }
  padding: 50px;
}
