// Place all the styles related to the Users controller here.

.signup-title {
  padding: 30px 0;

  h3 {
    text-align: center;
  }
}

.signup-form {
  margin: 0 auto;
  padding: 10 0 20px;

  textarea {
    height: 150px;
  }

  form {
    @include clearfix();

    .form-row {
      @include make-row();

      margin-bottom: 15px;
    }

    .form-group,
    .help-block {
      margin-bottom: 0;
    }
  }

  .user-availability {
    label {
      display: block;
    }

    .calendar {
      float: left;
      margin: 10px 20px 0 0;
    }

    .checkbox.inline + .checkbox.inline {
      margin-left: 10px;
      width: 20px;
    }
  }

  .checkbox-list {
    @include make-md-column(4);
    margin: 0;

    &:last-of-type {
      margin: 0;
    }

    > .checkbox {
      display: block;
      width: 100%;
    }
  }

  .fields {
    @include clearfix();
    height: auto;

    > div {
      @include make-sm-column(4);
    }

    .nested-select,
    %nested-select {
      height: 30px;
    }

    .picture-select {
      @extend %nested-select;
      margin: 0 0 10px;
      width: 310px;
    }

    .language-select {
      @extend %nested-select;
      padding: 0 20px 10px 0;

      > select {
        width: 100%;
      }
    }

    .nested-link,
    %nested-link {
      line-height: 30px;
    }

    .picture-link {
      @extend %nested-link;
      width: 270px;
    }

    .language-link {
      @extend %nested-link;
    }
  }

  .add-language-button {
    float: left;
    padding-top: 10px;
    width: 100%;
  }
}

// users profile
.profile-header,
%profile-header {
  @include clearfix();
  position: relative;

  .user-picture {
    @include make-md-column(3);

    padding: 18px;
  }

  .user-info {
    @include make-md-column(9);

    .user-name {
      @include make-row;

      padding: 22px 0;
    }

    .user-icons {
      @include make-row;

      .user-status,
      .user-knowledge {
        @include make-md-column(6);
      }

      .quickinfo {
        font-size: 11px;
        line-height: 24px;
        margin-bottom: 12px;
        overflow: hidden;
        padding-left: 10px;
      }
    }

    .user-tabs {
      @include make-row;

      > div {
        padding: 0;
      }

      //
      // Override bootstrap to mimic link behavior in active tabs (without links)
      // TODO: Research if there's something like this built-in in bootstrap
      .nav-tabs > li > a,
      .nav-tabs > .active {
        border: 1px solid transparent;
        line-height: 1.5;
        margin-right: 0;
      }

      .nav > li > a,
      .nav > .active {
        display: block;
        position: relative;
      }

      .profile-tabs {
        @include make-md-column(7);
        padding: 0;

        .nav-tabs > li > a,
        .nav-tabs > .active {
          padding: 10px 15px;
        }
      }

      .action-tabs {
        @include make-md-column(5);
        padding: 0;

        .nav-tabs > li > a,
        .nav-tabs > .active {
          border-radius: 0;
          padding: 10px 0;
        }
      }

      .action-tab {
        @include make-md-column(6);
        padding: 0;
      }
    }
  }
}

.profile-header-host {
  @extend %profile-header;
  background-color: lighten($green-host, 20%);
}

.profile-header-volunteer {
  @extend %profile-header;
  background-color: lighten($red-volunteer, 7%);
}

.no-elements {
  font-size: 16px;
  margin-left: 20px;
}

.icon-info {
  float: left;
  font-size: 16px;
  width: 24px;
}

.content-info {
  margin-left: 27px;
}

.profile-content {
  @include clearfix();
  background-color: $white;
  padding: 20px 0;
  position: relative;

  .box {
    background-color: $gray-super-light;
    border: 1px solid $gray-very-light;
    border-radius: 4px;
    box-shadow: 2px 2px 2px $gray-very-light;
    margin: 0 0 20px;
    padding: 9px;
    word-wrap: break-word;

    h3 {
      border-bottom: 1px solid $gray-very-light;
      color: $gray-very-dark;
      font-size: 16px;
      margin-bottom: .3em;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.calendar {
  border: 0;
  border-collapse: collapse;
  text-align: center;

  tbody {
    tr {
      th {
        font-weight: normal;
        padding: 0;
      }

      td {
        padding: 0;
        width: 34px;
      }
    }
  }
}


// users index

@mixin active-pill {
  .active {
    background-color: $green-dark;

    &:hover {
      background-color: $green-dark;
    }

    > a {
      background-color: transparent;
      color: $white;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.sidebar-users {
  @include make-md-column(3);
  background-color: $gray-super-light;
  border-radius: 4px;
  margin-bottom: 20px;

  li {
    border-radius: 4px;
    list-style-type: none;

    > a {
      display: block;
      padding: 3px 15px;
      text-decoration: none;

      &:hover {
        background-color: $gray-very-light;
      }
    }

    > ul {
      @include active-pill;
      padding-left: 20px;

      a:hover {
        background-color: $gray-very-light;
        border-radius: 4px;
      }
    }
  }

  .nav-pills {
    @include active-pill;
  }

  .nav-header {
    color: $green-dark;
    font-size: 11px;
    font-weight: bold;
    padding: 3px0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    text-transform: uppercase;
  }
}

.list-users {
  @include make-md-column(9);
  h5 {
    font-weight: bold;
  }
}

.user-thumbnails {
  @include clearfix();
  list-style-type: none;
  padding-left: 15px;

  a {
    color: $gray-very-dark;
    display: block;
    text-decoration: none;
  }

  .user-thumbnail {
    @extend %img-thumbnail;
    border: 1px solid $gray-very-light;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 12px;
    width: 100%;
  }
}

@media(max-width: 500px) {
  .user-thumbnail-badges {
    width: 100%;
  }

  .user-thumbnail-data {
    margin: 10px;
  }
}

@media(min-width: 501px) {
  .user-thumbnail-badges {
    float: left;
  }

  .user-thumbnail-data {
    margin-left: 180px;
  }
}

.user-thumnail-badges {
  .karma {
    padding: 6px 0;

    span {
      padding-left: 3px;
    }
  }
}

.user-thumbnail-login,
.user-thumbnail-location {
  color: $green-dark;
  font-size: .9em;
  font-style: italic;
  margin: 0 0 4px;
}

.user-thumbnail-location {
  text-align: right;
}

.user-thumbnail-login {
  float: left;
  text-align: left;
  width: 249px;
}

.user-thumbnail-shortdesc {
  text-align: left;
}
