// Place all the styles related to the Users controller here.

/* users signup */
.form-wrapper {
  margin-left: 0px;
  background: $white;
  .form-title {
    padding: 30px 0px 0px 0px;
    margin: 0;
    img {
      margin: 0px 15px;
    }
  }
}

.signup-form {
  margin-left: 0px;
  padding: 20px 0px;
  textarea {
    height: 150px;
  }
  .signup-button {
    @include linear_gradient;
    background-color: whiteSmoke;
    font-size: 14px;
    @include box_sizing;
    padding: 4px 12px;
    @include border_radius;
  }
  input, textarea, select, .checkbox {
    font-size: 12px;
  }
  .checkbox-list {
    width: 186px;
    margin: 0px 20px 0px 0px;
    &:last-of-type {
      margin: 0px;
    }
  }
  #picture-selection, #language-selection {
    padding-top: 10px;
    width: 600px;
    .fields {
      height: auto;
      .nested-select {
        height: 30px;
      }
      .picture-select {
        @extend .nested-select;
        margin: 0px 0px 10px 0px;
        width: 310px;
      }
      .language-select {
        @extend .nested-select;
        margin: 0px 20px 10px 0px;
        width: 220px;
      }
      .nested-link {
        line-height: 30px;
        margin: 0px 20px 0px 0px;
      }
      .picture-link {
        @extend .nested-link;
        width: 270px;
      }
      .language-link {
        @extend .nested-link;
        width: 100px;
      }
    }
  }
  #picture-add, #language-add {
    width: 600px;
    float: left;
  }
}

/* users profile */
.profile-header {
  margin-left: 0px;
  margin-bottom: 30px;
  position: relative;
  border-bottom: 1px solid rgb(221, 221, 221);
  .profile-header-wrapper {
    .user-picture {
      width: 260px;
      height: 260px;
    }
    .user-tips {
      width: 660px;
      .title {
        margin-top: 25px;
        margin-bottom: 20px;
      }
      .quickinfo {
        margin-bottom: 20px;
        padding-left: 10px;
        line-height: 24px;
        font-size: 11px;
      }
      .login-info {
        line-height: 12px;
      }
      .profile-tabs {
        position: absolute;
        bottom: -1px;
        left: 300px;
        .nav {
          margin-bottom: 0px;
        }
      }
      .action-pad {
        @include box_sizing;
        border-bottom: 1px solid $grayVeryLight;
        border-left: 1px solid $grayVeryLight;
        padding: 6px 8px;
        font-size: 12px;
        margin: 0px;
        width: 180px;
        line-height: 24px;
        &:hover {
          background: lighten($greenLogo,20%);
        }
        a {
          color: $black;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

div.no-elements {
  font-size: 16px;
}

.no-elements {

}

div, li {
  .label_info {
    float: left;
    width: 30px;
  }
  .content_info {
    margin-left: 30px;
  }
}

.profile-content {
  margin-left: 0px;
  .profile-content-wrapper {
    margin: 0px;
    .span6 {
      margin-left: 0px;
      .box {
        margin: 20px;
        width: 440px;
        border: 1px solid $grayVeryLight;
        @include border_radius;
        @include box_sizing;
        padding: 0.8em;
        background: $graySuperLight;
        @include box_shadow;
        h3 {
          margin-bottom: 0.3em;
          color: #333;
          border-bottom: 1px solid $grayVeryLight;
          font-size: 16px;
        }
      }
    }
  }
}

/* colors for comment quality */
.neutral { color: #333; }
.good { color: green; }
.bad { color: red; }

.neutral, .good, .bad { font-weight: bold; font-size: 1.1em; }

/* comment content */
div.comment {
    display: block;
    float: left;
    width: 70%;
    margin: 0;
}
.profilecomment.counter {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid $grayVeryLight;
    @include border_radius;
    margin-left: 10%;
    padding: 10px;
}


/* users index */
.main_list {
  background: $white;
  @include border_radius;
  padding: 20px 0;
  margin-right: -20px;
  .sidebar_users {
    background: $graySuperLight;
    @include border_radius;
    li.active > a {
      background-color: $grayLight;
      &:hover {
        background-color: $grayLight;
      }
    }
  }
  li.span9 {
    margin-right: -20px;
    .user-thumbnail {
      overflow: hidden;
      @extend .thumbnail;
      padding-right: 15px;
      @include border_radius;
      .user-thumbnail-badges {
        float: left;
        .karma {
          padding-top: 10px;
          span {
           font-size: 16px;
          }
        }
      }
      .user-thumbnail-data {
        margin-left: 180px;
      }
      .user-thumbnail-login {
        margin: 0 0 4px 0;
        color: $gray;
        font-size: 0.9em;
        font-style: italic;
      }
    }
  }
}

/* user feedbacks */
ol.feedbacks {
  margin: 0;
  list-style: none;
  li {
    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid #e8e8e8;
    @include box_sizing;
    div.feedback {
      position: relative;
      div.time_ago {
        color: gray;
        font-size: 0.8em;
      }
      div.score-icon {
        position: absolute;
        top: 0;
      }
    }
    div.received {
      margin-bottom: 20px;
      div.score-icon {
        right: 100px;
      }
      div.time_ago, div.sender {
        text-align: left;
      }
      div.thumb-avatar {
        margin-left: 10px;
      }
    }
    div.sent {
      div.score-icon {
        left: 100px;
      }
      div.time_ago, div.sender {
        text-align: right;
      }
      div.thumb-avatar {
        margin-right: 10px;
      }
    }
  }
}

.content {
  display: block;
  clear: both;
}

.timestamp {
  color: $grayLight;
}
