// Place all the styles related to the Users controller here.

h1.signup-title {
  padding: 30px 0;
  margin: 0;
  img {
    margin: 0px 15px;
  }
}

.signup-form {
  background: white;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  textarea {
    height: 150px;
  }
  form {
    @include clearfix();
  }
  .user_availability {
    label {
      display: block;
    }
    .calendar {
      float: left;
      margin: 10px 20px 0 0;
    }
  }
  .checkbox-list {
    @include make-md-column(4);
    margin: 0;
    &:last-of-type {
      margin: 0px;
    }
    > .checkbox {
      width: 100%;
      display: block;
    }
  }
  .user_availability {
    .checkbox.inline + .checkbox.inline {
      margin-left: 10px;
      width: 20px;
    }
  }
  padding-top: 10px;
  .fields {
    @include clearfix();
    height: auto;
    > div {
      @include make-sm-column(4);
    }
    .nested-select {
      height: 30px;
    }
    .picture-select {
      @extend .nested-select;
      margin: 0px 0px 10px 0px;
      width: 310px;
    }
    .language-select {
      @extend .nested-select;
      padding: 0px 20px 10px 0px;
      > select {
        width: 100%;
      }
    }
    .nested-link {
      line-height: 30px;
    }
    .picture-link {
      @extend .nested-link;
      width: 270px;
    }
    .language-link {
      @extend .nested-link;
    }
  }
  #language-add {
    padding-top: 10px;
    width: 100%;
    float: left;
  }
}

/* users profile */
.profile-header {
  @include clearfix();
  position: relative;
  .user-picture {
    @include make-md-column(3);
    padding: 18px;
  }
  .nav-tabs {
    padding-left: 15px;
  }
  .user-info {
    @include make-md-column(9);
    .user-name {
      padding: 22px 0;
    }
    .user-icons {
      @include make-row;
      .user-status, .user-knowledge {
        @include make-md-column(6);
      }
      .quickinfo {
        overflow: hidden;
        margin-bottom: 12px;
        padding-left: 10px;
        line-height: 24px;
        font-size: 11px;
      }
    }
    .user-tabs {
      @include make-row;
      .send-message-link {
        right: 10px;
      }
      .leave-feedback-link {
        right: 180px;
      }
      .send-message-link, .leave-feedback-link {
        position: absolute;
        bottom: 0;
        padding: 6px 8px;
        font-size: 12px;
        line-height: 24px;
        width: 160px;
        background-color: $grayExplore;
        &:hover {
          background-color: darken($grayExplore, 10%);
        }
        a {
          color: black;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.profile-header-host {
  @extend .profile-header;
  background-color: lighten($greenHost, 20%);
}

.profile-header-volunteer {
  @extend .profile-header;
  background-color: lighten($redVolunteer, 7%);
}

div.no-elements {
  margin-left: 20px;
  font-size: 16px;
}

.label_info {
  float: left;
  width: 30px;
}

.content_info {
  margin-left: 30px;
}

.profile-content {
  @include clearfix();
  position: relative;
  padding: 20px 0;
  background-color: white;
  .box {
    word-wrap: break-word;
    margin: 0px 0px 20px 0px;
    border: 1px solid $grayVeryLight;
    border-radius: 4px;
    padding: 9px;
    background-color: $graySuperLight;
    box-shadow: 2px 2px 2px $grayVeryLight;
    h3 {
      margin-bottom: 0.3em;
      color: #333;
      border-bottom: 1px solid $grayVeryLight;
      font-size: 16px;
    }
    &:last-child {
      margin: 0;
    }
  }
}

table.calendar {
  text-align: center;
  border: 0;
  border-collapse: collapse;
  tbody {
    tr {
      th {
        padding: 0;
        font-weight: normal;
      }
      td {
        padding: 0;
        width: 34px;
      }
    }
  }
}


/* users index */
.sidebar-users {
  @include make-md-column(3);
  background-color: $graySuperLight;
  border-radius: 4px;
  margin-bottom: 20px;
  li {
    border-radius: 4px;
    list-style-type: none;
    > a {
      text-decoration: none;
      padding: 3px 15px;
    }
    > ul {
      padding-left: 20px;
      li.active {
        background-color: $dark-green;
        &:hover {
          background-color: $dark-green;
        }
        > a {
          color: white;
          background-color: transparent;
        }
      }
      li:hover {
        background-color: #eee;
      }
    }
  }
  li.active > a {
    background-color: $dark-green;
    &:hover {
      background-color: $dark-green;
    }
  }
  li.nav-header {
    padding: 3px 0px;
    font-size: 11px;
    font-weight: bold;
    color: #275a52;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    text-transform: uppercase;
  }
}

.list-users {
  @include make-md-column(9);
  h5 {
    font-weight: bold;
  }
  .pagination {
    padding-left: 15px;
    margin: 0 0 10px 0;
    ul.pagination {
      padding-left: 0px;
      li.active > a {
        border-color: #ddd;
        background-color: #eee;
        color: #428bca;
      }
      li > a:hover {
        color: #428bca;
        background-color: #eee;
      }
      li.disabled > a:hover {
        background-color: white;
        color: #999;
      }
    }
  }
}

.user-thumbnails {
  @include clearfix();
  list-style-type: none;
  padding-left: 15px;

  a {
    display: block;
    color: #333;
    text-decoration: none;
  }

  .user-thumbnail {
    @extend .img-thumbnail;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding-right: 15px;
    margin-bottom: 5px;
    width: 100%;
  }
}

@media(max-width: 500px) {
  .user-thumbnail-badges {
    width: 100%;
  }

  .user-thumbnail-data {
    margin: 10px;
  }
}

@media(min-width: 501px) {
  .user-thumbnail-badges {
    float: left;
  }

  .user-thumbnail-data {
    margin-left: 180px;
  }
}

.user-thumnail-badges {
  .karma {
    padding: 6px 0;

    span {
      padding-left: 3px;
    }
  }
}

.user-thumbnail-login,
.user-thumbnail-location {
  color: $dark-green;
  font-size: .9em;
  font-style: italic;
  margin: 0 0 4px;
}

.user-thumbnail-location {
  text-align: right;
}

.user-thumbnail-login {
  float: left;
  text-align: left;
  width: 249px;
}

.user-thumbnail-shortdesc {
  text-align: left;
}
