// Place all the styles related to the Users controller here.

/* users signup */

.signup-button {
  @include linear_gradient;
  background-color: whiteSmoke;
  font-size: 14px;
  @include box_sizing;
  padding: 4px 12px;
  @include border_radius;
}

.signup-form {
  position: relative;
  background: #E3E3E3;
  padding: 50px 50px 50px 100px;
  @include box_sizing;
  div.signin-tip {
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 10px;
  }
  textarea {
    height: 150px;
  }
}

/* users profile */

.user-gravatar {
  border: 1px solid $grayVeryLight;
  margin-bottom: 20px;
}

#main {padding: 0 2em;}

.quickinfo {
  text-align: center;
}

#profile-header {
  margin: 0px 0px 30px 0px;
}

#profile-content {
  margin: 0px 0px 30px 0px;
}

#personal-description {
  text-align: justify;
  margin-top: 30px;
}

#profile-location {
  float: right;
  margin-bottom: 20px
}

#profile-content dl, #preferences dl, dl#profiletop {
    display: block;
}
#profile-content dt, #preferences dt, #profiletop dt {
    line-height: 1.5em;
    font-size: 1em;
    font-weight: normal;
    width: 12em;
    float: left;
    clear: left;
    margin-bottom: 0.8em;
}
#profile-content dd, #preferences dd, #profiletop dd {
    margin-left: 12em;
    line-height: 1.5em;
    margin-bottom: 0.8em;
}

#profile-content #interests dt, #profile-content #accommodation dt {
    float: none;
    width: auto;
    margin-bottom: 0;
    font-weight:bold;
}
#profile-content #interests dd, #profile-content #accommodation dd {
    width: auto;
    margin-left:0;
}
#profile-content #accommodation dt.guests {
    width: 12em;
    float: left;
    clear: left;
    margin-bottom: 0.8em;
}
#profile-content #accommodation dd.guests {
    margin-left: 12em;
    line-height: 1.5em;
    margin-bottom: 0.8em;
}

#profile-content sup {
    font-size: 0.8em;
    color: #888;
}

/* list the spoken languages of a member */
#profile-content .profile_languages li {
    margin-right: .5em;
}

#preferences ul, #preferences select {
    margin-bottom: 2em;
}


/* #profile_linklist for styles in the sidebar */
#profile_linklist {
    padding: 0 0;
    list-style-type: none;
    margin-top: 30px;
}
#profile_linklist li {
    color: #333;
    font-size: 1em;
    border-bottom: 1px solid #e5e5e5;
    padding: 0.5em 0em;
}
#profile_linklist li a {
    color: #333;
    font-size: 1.2em;
}
#profile_linklist li.active a {
    font-weight: bold;
}

#profile_linklist .space {
    padding-top: 1em;
    padding-bottom: 1em;
    border: none;
}
#profile_linklist .editmyprofile {
    background: transparent url(../../images/iconsfam/pencil.png) 0 3px no-repeat;
}

/* using css3 for round corners and shadow effect (only firefox chrome and safari) */
#profile-content .box {
    border: 1px solid $grayVeryLight;
    @include border_radius;
    padding: 0.8em;
    margin-bottom: 1.2em;
    margin-left: 0;
    margin-top: 0;
    background: $graySuperLight;
    width: auto;
    @include box_shadow;
}
#profile-content #linkpath div.profile{
    margin-right: 5px;
}
#profile-content #linkpath div.connection{
    margin-right: 5px;
    margin: 15px 5px 0 0;
    vertical-align: middle;
}

#profile-content .box h3, #profile-content #linkpath h3 {
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid $grayVeryLight;
    font-size: 16px;
}

#profile-content #profile-edit-form fieldset td{
  vertical-align: top;
}

#profile-content #profile-edit-form fieldset td.label{
  vertical-align: top;
  padding-top: 0.7em;
}

/* colors for comment quality */
.neutral { color: #333; }
.good { color: green; }
.bad { color: red; }

.neutral, .good, .bad { font-weight: bold; font-size: 1.1em; }

/* comment content */
div.comment {
    display: block;
    float: left;
    width: 70%;
    margin: 0;
}
.profilecomment.counter {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid $grayVeryLight;
    @include border_radius;
    margin-left: 10%;
    padding: 10px;
}


/* users index */

.user-thumbnail {
  position: relative;
  height: 148px;
  padding: 10px;
  div.user-thumbnail-gravatar {
    border: 1px solid $grayVeryLight;
    float: left;
  }
  div.user-thumbnail-data {
    margin-left: 180px;
  }
  p.user-thumbnail-login {
    margin: 0 0 4px 0;
    color: $gray;
    font-size: 0.9em;
    font-style: italic;
  }
  img.user-thumbnail-rating {
    position: absolute;
    top: 4px;
    right: 4px;
  }
  img.user-thumbnail-available {
    position: absolute;
    top: 4px;
    right: 54px;
  }
}

aside.sidebar_users {
  background: $graySuperLight;
  @include border_radius;
  li.active > a {
    background-color: $grayLight;
    &:hover {
      background-color: $grayLight;
    }
  }
}


/* user feedbacks */

.feedbacks {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px;
    border: 1px solid #e8e8e8;
    @include box_sizing;
    margin-bottom: 10px;
    div.feedback {
      position: relative;
      div.time_ago {
        color: gray;
        font-size: 0.8em;
      }
      div.score-icon {
        position: absolute;
        top: 0;
      }
    }
    div.received {
      margin-bottom: 20px;
      div.score-icon {
        right: 100px;
      }
      div.time_ago, div.sender {
        text-align: left;
      }
      div.user-gravatar {
        margin-left: 10px;
      }
    }
    div.sent {
      div.score-icon {
        left: 100px;
      }
      div.time_ago, div.sender {
        text-align: right;
      }
      div.user-gravatar {
        margin-right: 10px;
      }
    }
  }
}

.content {
  display: block;
  clear: both;
}

.timestamp {
  color: $grayLight;
}
