//
// colors
//
$dark-green: #275a52;
$grayBackground: #e8e4d0;
$grayMediumLight: #eaeaea;
$grayVeryLight: #ccc;
$graySuperLight: #f5f5f5;
$grayDarker: #222;
$greenLogo: #568a7e;
$grayExplore: #e1ddc4;
$greenHost: #9ab6aa;
$redVolunteer: #efcf9f;
