//
// colors
//
$cyan: #428bca;
$cyan-dark: #08c;
$green-dark: #275a52;
$gray-background: #e8e4d0;
$gray-medium-light: #eaeaea;
$gray-very-light: #ccc;
$gray-super-light: #f5f5f5;
$gray-dark: #999;
$gray-very-dark: #222;
$green: #008000;
$green-logo: #568a7e;
$gray-explore: #e1ddc4;
$green-host: #9ab6aa;
$red-volunteer: #efcf9f;
$white: #fff;
$black: #000;
