<div class="container">
<footer class="footer">
  <small>
    NiPaNiPa by
    <%= link_to "Trastévere", 'http://trasteverestudio.blogspot.com.es' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('static_pages.about.title')  , about_path   %></li>
      <li><%= link_to t('static_pages.contact.title'), contact_path %></li>
      <li>
        <%= link_to t('layouts.footer.news'), 'http://trasteverestudio.blogspot.com.es/' %>
      </li>
    </ul>
  </nav>
</footer>
</div>
